.card {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  /* width: 350px; */
  flex-basis: 100%;
  min-height: 400px;
  margin: 20px 0px 0px;
}

.card:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 183, 3);
}
.card-image {
  width: 100%;
  height: auto;
}
.card-title {
  text-align: center;
  color: rgb(255, 183, 3);
  font-size: 22px;
  padding: 22px 0;
}
.card-description {
  font-weight: bold;

  padding: 10px 0;
  display: block;
}

.yellow-text {
  color: rgb(255, 183, 3);
}
.popularity {
  padding: 20px 0;
}
