.home {
  max-width: 1600px;
  margin: auto;
}

.home-container {
  width: 100%;
}

.picture-of-day {
  max-width: 1600px;
  height: auto;
  margin: auto;
}
.picture-of-day img {
  width: 100%;
}
.picture-title {
  text-align: center;
  width: calc(100% - 40px);
  padding: 10px 20px;
  color: rgb(142, 202, 230);
  font-size: 20px;
}
.nasa {
  color: rgb(255, 183, 3);
  font-size: 20px;
}
.movie-list {
  max-width: 1300px;
  margin: auto;
  display: grid;
  gap: 1rem;
  padding: 20px;
}
.loading {
  color: #fff;
  font-size: 22px;
}
@media (min-width: 600px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) and (min-width: 1190px) {
  .movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
